.md-grid {
  max-width: 80%;
}

/* Remove o fundo branco do container */
.md-main__inner {
  background: none;
  box-shadow: none;
.justify {
  text-align: justify;
}

.indent {
  text-align: justify;
  text-indent: 2em;
}